.encabezado,.timerOn,#canvas,#dificultad{
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#vovlerAJugar{
    visibility: hidden;
}
#message{
	text-align: center;
	color: blue;
}
